body {
  font-family: Verdana;
  text-align: center;
  color: rgb(240, 203, 203);
  background-image: url("https://media2.giphy.com/media/PMV7yRpwGO5y9p3DBx/giphy.gif?cid=ecf05e470gj9tqrwtrv8qk3qn3a0xlpn38egj0b61itxrkt7&rid=giphy.gif&ct=g");
  background-color: rgb(92, 34, 34);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.container {
  text-align: center;
  padding: 10px;
}

.page-title {
  color: rgb(219, 63, 141);
  font-family: -apple-system;
  margin: 0 0 10px;
}

.page-logo {
  width: 150px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.body > img {
  margin: 0 20px;
}

p {
  color: rgb(248, 184, 184);
}

.container img {
  max-width: 400px;
  max-height: 350px;
  width: auto;
  height: auto;
}
/* layout 3 colunas */
.item {
  float: left;
  width: 33.33%;
}
/*div pai do layout*/
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*responsividade*/
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
